.App {
  text-align: center;
}

.App-title {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  border-bottom: 1px solid blue;
  border-radius: 1px;
}

.employee-details {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  float: left;
  padding: 62px;
  padding-top: 50px;
  text-align: center
}

footer {
  margin-top: 80px;
  border-top: 1px solid gray;
  border-radius: 1px;
  background-color: #e4e4e4;
  padding: 20px;
}

a {
  margin: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  color: white;
}
